
html,
body {
  	font-family: "Pavanam", monospace;
  	height: 100%;
  	margin: 0;
  	padding: 0;
}

button {
	color: white;
	border: 3px solid #ff1010 ;
	border-radius: 2px ;
	width: 35%;
	font: bold small;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #ff1010;
	margin: 1em;
}

button:hover {
	border: 1px solid black;
	border-style: groove;
	opacity: 0.7;

}

.general-container {
	display: flex;
	flex-direction:row-reverse;
	flex-wrap:  wrap;
	height:100%;
}

.info {
 	margin: 6%;
}

#map {
	width:75%;
	height:100%;
}

#mode{
	width:25%;
	height: 100%;
}

.adp-step,
.adp-substep,
.adp, .adp-text,
.adp-summary,
.warnbox-content,
.adp-agencies {
	font-weight: normal;
}

.container {
	margin: 1em;
}

.places-container {
	font-size: 1.6em;
}

.place-name-container {
	margin:  6% ;


}
.place-name-container:hover {
    font-weight: bold;

}

.label {
	font-weight: bold;
	color: #ff1010;
}

.link:hover {
	font-weight: bold;
	border-bottom: thin solid;
}

.link {
	color:blue;
	text-decoration: none;
}

/*border design from google.com*/
input[type=text] {
	border: 1px solid rgb(185,185,185);
	border-radius: 2px;
	border-top-color: rgb(160,160,160);
	height: 26px;
	margin: 0 5%;
	width: 92%;
	font-size:18px;
}

.button-container {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

/** Super tip from: http://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid blue;
 	border-bottom: 5px solid blue;
    border-radius: 50%;
    width:1px;
    height:1px;
    display: inline-block;
   	margin-right: 1%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 500px) {

	#map{
		width:100%;
		height:50%;
	}
	#mode{
		width:100%;
	}
}





